In [29]:
import pandas as pd
import numpy as np
import pickle as pkl
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.svm import LinearSVC
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

In [4]:
with open("tpm_train.pkl", 'rb') as input_file:
    data = pkl.load(input_file)

In [5]:
data

array([['ERR188408', '0.234074', '0.0', ..., '423.902', '3361.92', 'TSI'],
       ['ERR188348', '0.0', '0.0', ..., '360.488', '1861.0', 'CEU'],
       ['ERR188021', '0.221792', '0.0', ..., '85.9032', '2026.97', 'TSI'],
       ...,
       ['ERR188363', '0.0', '0.0', ..., '122.26', '1556.3', 'YRI'],
       ['ERR188434', '0.0', '0.0', ..., '184.407', '1144.4', 'YRI'],
       ['ERR188474', '0.0', '0.0', ..., '266.749', '2566.61', 'CEU']],
      dtype='|S11')

In [7]:
data = pd.DataFrame(data)

In [15]:
data.set_index(0, inplace=True)
data.head()

,1,2,3,4,5,6,7,8,9,10,...,199316,199317,199318,199319,199320,199321,199322,199323,199324,199325
0,,,,,,,,,,,,,,,,,,,,,
ERR188408,0.234074,0.0,3.67617,0.0,0.0,0.0,0.0,0.0,0.424268,0.0,...,47.2799,67.1317,309.765,3487.45,8528.7,205.423,5413.82,423.902,3361.92,TSI
ERR188348,0.0,0.0,1.98881,0.0,0.0,0.0,0.0,0.0,0.137385,0.0,...,18.325,33.0064,23.371,2073.77,5866.83,148.636,4562.6,360.488,1861.0,CEU
ERR188021,0.221792,0.0,5.4206,0.0,0.0,0.0,0.0,0.0,1.08004,0.0,...,35.2899,36.7604,92.426,3532.69,5837.02,299.965,3237.99,85.9032,2026.97,TSI
ERR188289,0.0,0.0,8.2935,0.0,0.0,0.0,0.0,0.0,0.404072,0.0,...,27.2531,62.6821,87.8155,2366.44,6055.96,121.125,2903.42,459.035,1813.84,GBR
ERR188262,0.016667,0.0,2.00487,0.0,0.0,0.0,0.0,0.0,0.68098,0.0,...,28.6091,79.9203,103.341,3527.36,6186.93,74.8239,5829.34,119.75,2343.64,CEU

In [12]:
label = data[199325]
label.head()

0    TSI
1    CEU
2    TSI
3    GBR
4    CEU
Name: 199325, dtype: object

In [20]:
X_train, X_test, y_train, y_test = train_test_split(data.drop([199325], axis=1), label, test_size=0.3)

In [27]:
clf = RandomForestClassifier(n_estimators=200, max_depth=60, random_state=0, n_jobs=-1)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print f1_score(y_test, y_pred, average='macro')

In [ ]:
clf = LinearSVC(random_state=0)
scores = cross_val_score(clf, data.drop([199325], axis=1), label, cv=5)
# clf.fit(X_train, y_train)


# print clf.coef_

# print clf.intercept_

# y_pred = clf.predict(X_test)c

# print f1_score(y_test, y_pred, average='macro')
print score.mean(), scores.std()